{%- set highlights = {
    "Comment": {"fg": dialog.fg, "bg": dialog.bg},
    "Constant": {"fg": term.color7, "bg": None},
    "Variable": {"fg": term.color9, "bg": None},
    "@variable": {"fg": term.color9, "bg": None},
    "String": {"fg": term.color2, "bg": None},
    "Character": {"fg": term.color3, "bg": None},
    "Number": {"fg": term.color4, "bg": None},
    "Boolean": {"fg": term.color5, "bg": None},
    "Float": {"fg": term.color6, "bg": None},

    "Identifier": {"fg": term.color10, "bg": None},
    "Function": {"fg": term.color4, "bg": None},

    "Statement": {"fg": term.color1, "bg": None},
    "Conditional": {"fg": term.color6, "bg": None},
    "Repeat": {"fg": term.color9, "bg": None},
    "Label": {"fg": term.color11, "bg": None},
    "Operator": {"fg": term.color3, "bg": None},
    "Keyword": {"fg": term.color5, "bg": None},
    "Exception": {"fg": term.color12, "bg": None},

    "PreProc": {"fg": term.color9, "bg": None},
    "Include": {"fg": term.color5, "bg": None},
    "Define": {"fg": term.color7, "bg": None},
    "Macro": {"fg": term.color8, "bg": None},
    "PreCondit": {"fg": term.color6, "bg": None},

    "Type": {"fg": term.color5, "bg": None},
    "StorageClass": {"fg": term.color11, "bg": None},
    "Structure": {"fg": term.color12, "bg": None},
    "Typedef": {"fg": term.color10, "bg": None},

    "Special": {"fg": term.color3, "bg": None},
    "SpecialChar": {"fg": term.color4, "bg": None},
    "Tag": {"fg": term.color6, "bg": None},
    "Delimiter": {"fg": term.color9, "bg": None},
    "SpecialComment": {"fg": dialog.fg, "bg": dialog.bg},
    "Debug": {"fg": term.color0, "bg": None},

    "Underlined": {"fg": term.color12, "bg": None},
    "Ignore": {"fg": term.color0, "bg": None},

    "Error": {"fg": term.color0, "bg": None},
    "Todo": {"fg": term.color13, "bg": None},

    "ErrorMsg": {"fg": term.color0, "bg": None},
    "WarningMsg": {"fg": term.color14, "bg": None},
    "InfoMsg": {"fg": term.color11, "bg": None},
    "HintMsg": {"fg": term.color10, "bg": None},

    "Title": {"fg": term.color11, "bg": None},
    "CursorLine": {"bg": border.inactive},
    "CursorColumn": {"fg": term.color15, "bg": None},
    "LineNr": {"fg": muted.bg, "bg": None},
    "CursorLineNr": {"fg": term.color7, "bg": None},
    "Visual": {"fg": primary.fg, "bg": primary.bg},
    "Search": {"fg": secondary.fg, "bg": secondary.bg},
    "IncSearch": {"fg": secondary.fg, "bg": secondary.bg},
    "MatchParen": {"fg": term.color5, "bg": None},
    "Pmenu": {"fg": term.color15, "bg": None},
    "PmenuSel": {"fg": term.color3, "bg": None},
    "StatusLine": {"fg": term.color4, "bg": None},
    "StatusLineNC": {"fg": term.color8, "bg": None},
    "VertSplit": {"fg": term.color9, "bg": None},
    "WildMenu": {"fg": term.color2, "bg": None},
    "TabLine": {"fg": term.color6, "bg": None},
    "TabLineSel": {"fg": term.color7, "bg": None},
    "TabLineFill": {"fg": term.color9, "bg": None},

    "Cursor": {"fg": term.color0, "bg": term.color15},  
    "VisualNOS": {"fg": term.color2, "bg": None},

    "Underlined": {"fg": term.color12, "bg": None},
    "SpellBad": {"fg": term.color0, "bg": term.color9},
    "SpellCap": {"fg": term.color0, "bg": term.color8},
    "SpellLocal": {"fg": term.color0, "bg": term.color10},
    "SpellRare": {"fg": term.color0, "bg": term.color11},

    "SpecialKey": {"fg": term.color3, "bg": None},
    "Whitespace": {"fg": term.color8, "bg": None},
    "Normal": {"fg": normal.fg, "bg": None},
    "NormalNC": {"fg": normal.fg, "bg": None},
    "NormalFloat": {"fg": normal.fg, "bg": normal.bg},

    "Conceal": {"fg": muted.bg, "bg": None},
    
    "IndentLine": {"fg": border.inactive, "bg": None},
    "IndentLineCurrent": {"fg": border.active, "bg": None},

    "lualine_a_normal": {"fg": muted.bg, "bg": None},
    "lualine_b_normal": {"fg": muted.bg, "bg": None},
    "lualine_c_normal": {"fg": muted.bg, "bg": None},
    "lualine_x_normal": {"fg": muted.bg, "bg": None},
    "lualine_y_normal": {"fg": muted.bg, "bg": None},
    "lualine_z_normal": {"fg": muted.bg, "bg": None},

    "lualine_a_insert": {"fg": accent.fg, "bg": accent.bg},
    "lualine_b_insert": {"fg": muted.bg, "bg": None},
    "lualine_c_insert": {"fg": muted.bg, "bg": None},
    "lualine_x_insert": {"fg": muted.bg, "bg": None},
    "lualine_y_insert": {"fg": muted.bg, "bg": None},
    "lualine_z_insert": {"fg": muted.bg, "bg": None},

    "lualine_a_visual": {"fg": primary.fg, "bg": primary.bg},
    "lualine_b_visual": {"fg": muted.bg, "bg": None},
    "lualine_c_visual": {"fg": muted.bg, "bg": None},
    "lualine_x_visual": {"fg": muted.bg, "bg": None},
    "lualine_y_visual": {"fg": muted.bg, "bg": None},
    "lualine_z_visual": {"fg": muted.bg, "bg": None},

    "lualine_a_replace": {"fg": normal.fg, "bg": None},
    "lualine_b_replace": {"fg": muted.bg, "bg": None},
    "lualine_c_replace": {"fg": muted.bg, "bg": None},
    "lualine_x_replace": {"fg": muted.bg, "bg": None},
    "lualine_y_replace": {"fg": muted.bg, "bg": None},
    "lualine_z_replace": {"fg": muted.bg, "bg": None},

    "lualine_a_command": {"fg": normal.fg, "bg": None},
    "lualine_b_command": {"fg": muted.bg, "bg": None},
    "lualine_c_command": {"fg": muted.bg, "bg": None},
    "lualine_x_command": {"fg": muted.bg, "bg": None},
    "lualine_y_command": {"fg": muted.bg, "bg": None},
    "lualine_z_command": {"fg": muted.bg, "bg": None}

} -%}

{% for name, colors in highlights.items() -%}
{% for color_name, color in colors.items() -%}
{{ name + "|" + color_name }} = {{ colors[color_name] }}
{% endfor %}
{% endfor %}
